@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster+Two&family=Merienda&family=Oswald&display=swap');

:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--on-background);
  background-color: var(--background);
  font-family: Merienda, 'Times New Roman', Times, serif;
  background-image: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2338c9bc' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  color: var(--on-background-alt);
}

/* Navigation */
nav {
  font-family: Oswald, 'Times New Roman', Times, serif;
  z-index: 10;
  position: fixed;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 25px;
  width: 100vw;
  background: rgb(255 255 255 / 50%);
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--on-background);
  /* border-bottom: 3px solid; */
}

/* Home Section */
.title-group {
  text-align: center;
}

/* Services Section */
.services-container {
  display: flex;
}

.image-container {
  margin-top: 2.5rem; 
  position: relative;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 25px;
  width: auto;
  background: var(--background);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

img {
  height: 300px;
  width: 300px;
}

.moreInfo {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background: var(--background);
  color: var(--on-background-alt);
  visibility: hidden;
  opacity: 0;
  transition: opacity .7s, visibility .7s;
  text-align: center;
  margin: 20px;
}

.image-container:hover .moreInfo {
  visibility: visible;
  opacity: 1;
}


/* Projects Section */
.projects-container {
  display: flex;
}

.text-box {
  width: 40%;
  text-align: justify;
  background: rgb(0 0 0 / 50%);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
}

p {
  margin: 0;
  line-height: 25px;
}

/* Contact Section */
.container-form {
  margin-top: 20px;
  width: 480px;
  height: 640px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

input:valid {
  border: 1px solid green
}

input:invalid {
  border: 1px solid red;
}

textarea {
  width: 100%;
  height: 150px;
  outline: none;
}

textarea:valid {
  border: 1px solid green
}

textarea:invalid {
  border: 1px solid red;
}

.span-textarea {
  height: 100px;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  outline: none;
  margin-top: 15px;
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}


/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;
}

.theme-switch-wrapper span {
  font-family: Oswald, 'Times New Roman', Times, serif;
  margin-right: 10px;
  font-size: 1.2rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}